.page-heading {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.add-button {
  padding-top: 1em;
  padding-left: 1em;
}

.my-table-head {
  background-color: #0d6efd;
  color: white;
  border-radius: 25% 25% 0 0;
}

.pagination {
  justify-content: center;
  padding-top: 1em;
  float: bottom;
}
