.page-heading {
  padding-top: 0.5em;
  padding-bottom: 1.2em;
  text-align: start;
}

.add-button {
  padding-top: 1em;
  padding-left: 1em;
}

.my-table-head {
  background-color: #dc3545;
  color: white;
  border-radius: 25% 25% 0 0;
}

.pagination {
  justify-content: center;
  padding-top: 1em;
  float: bottom;
}

.dropdown-menu {
  min-width: 0px;
}
