<div class="card" style="padding: 3em">
  <div class="add-button page-heading">
    <button
        class="btn btn-danger"
        [routerLink]="['new']"
        type="button"
    >
      <span>Add role </span>
      <fa-icon icon="add"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="roles?.length === 0">
      <span>No role found</span>
    </div>
    <div class="table-responsive d-flex justify-content-around" *ngIf="roles && roles.length > 0">
      <table class="table table-hover table-striped col-centered text-center" aria-describedby="page-heading">
        <thead class="my-table-head">
        <tr sort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" sortBy="name">
            <span>Name </span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" sortBy="createdDate">
            <span>Created Date </span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" class="col-ms-1"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let role of roles" data-cy="entityTable">
          <td>{{ role?.name }}</td>
          <td>{{ role?.createdDate | formatDate }}</td>
          <td class="overflow-hidden">
            <div ngbDropdown container="body">
              <button class="fa fa-ellipsis btn" ngbDropdownToggle>
              </button>
              <div ngbDropdownMenu>
                <button
                    type="submit"
                    ngbDropdownItem
                    [routerLink]="[role.id, 'edit']"
                    class="btn btn-primary btn-sm btn-pill"
                    triggers="mouseenter:mouseleave"
                    ngbTooltip="Edit"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                </button>
                <button
                    type="submit"
                    ngbDropdownItem
                    (click)="delete(role)"
                    class="btn btn-primary btn-sm btn-pill"
                    triggers="mouseenter:mouseleave"
                    ngbTooltip="Delete"
                >
                  <fa-icon icon="remove"></fa-icon>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="roles && roles.length > 0">
  <div class="pagination">
    <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
    >
    </ngb-pagination>
  </div>
</div>
